
html {
    font-family: 'Gilroy';
    font-size: 16px;
    color: #000000;

}

a {
    text-decoration: none;
    color: #532B94;
    font-family: "Gilroy-Black";

}

button {
    outline: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0;
}

.widgetchat {
    width: 560px;
    height: 800px;
    border-radius: 16px;
    overflow: hidden;

}

.header {
    height: 96px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    padding: 0 29px 0 24px;

}

.icon {
    position: relative;

}

.shopicon {
    border-radius: 360px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.left img {
    width: 48px;
    height: 48px;

}

.left {
    display: flex;
    align-items: center;


}

.status {
    border-radius: 360px;
    width: 12px;
    height: 12px;
    background-color: #7CEBD7;
    position: absolute;
    right: 0;
}

.left a {
    margin-left: 16px ;
    color: #A5A5A5;
}

.right img {
    width: 22px;
    height: 22px;

}

.close {
    align-items: end;
}

.right {
    display: flex;
    align-items: center;

}

.right a {
    font-size: 24px;
    margin-right: 21px;
    color: #532B94;
    margin-left: 21px;

}

.chat {
    position: relative;
    display: flex;
    background-color: #EFF3F8;
    height: 704px;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 90px;
}

.chatwindow {
    border-radius: 0 16px 16px 16px;
    background-color: #ffffff;
    width: 270px;
    height: 70px;
    margin: 0 0 31px 24px;

}

.chatwindow p {
    margin: 16px;
    font-size: 16px;
    font-family: "Gilroy-Black";

}

.message {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 512px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 16px;
    margin: 31px 24px 24px 24px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    bottom: 12px;

}

.other {
    display: flex;
    align-items: center;

    
}

.other button:last-child {
    margin: 0 24px 0 30px;
}

.messageentry input {
    width: 300px;
    height: 56px;
    border-radius: 16px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 24px;

}






@font-face {
    font-family: "Gilroy";
    src: url(../fontGilroy/Gilroy-Bold.ttf) format("truetype"),
    url(Gilroy-Bold.woff) format("woff"),
    url(Gilroy-Bold.woff2) format("woff2"),
    url(Gilroy-Bold.otf) format("opentype")
}
@font-face {
    font-family: "Gilroy";
    src: url(../fontGilroy/Gilroy-Black.ttf) format("truetype"),
    url(Gilroy-Black.woff) format("woff"),
    url(Gilroy-Black.woff2) format("woff2"),
    url(Gilroy-Black.otf) format("opentype")
}

